@using RideSharing.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IDriverService Drivers
@inject IRiderService Riders


<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var userId = User.Id();
    var userIsDriver = Drivers.IsDriver(userId);
    var userIsRider = Riders.IsRider(userId);

    var driverId = Drivers.IdByUser(userId);
        var riderId = Riders.IdByUser(userId);

    @if (userIsDriver)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Vehicles" asp-action="Add">Add Vehicle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Trips" asp-action="Add">Add New Trip</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Drivers" asp-action="Resign" asp-route-id="@userId">Quit job</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Drivers" asp-action="EditInformation" asp-route-id="@driverId">Edit Driver Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="DriverProfile" asp-route-id="@UserManager.Users.First(x => x.UserName == User.Identity.Name).Id">My Profile</a>
            </li>
        }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Drivers" asp-action="Join">Join As Driver</a>
        </li>  
    }

        @if (userIsRider)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Riders" asp-action="EditInformation" asp-route-id="@riderId">Edit Rider Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="RiderProfile" asp-route-id="@UserManager.Users.First(x => x.UserName == User.Identity.Name).Id">My Profile</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Riders" asp-action="Join">Join As Rider</a>
            </li>
        }

        <li class="nav-item">
            <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello, @User.Identity?.Name!</a>
        </li>
    
    
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
