@using Microsoft.AspNetCore.Identity
@model IEnumerable<TripDetailsServiceModel>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IDriverService Drivers
@{
    ViewData["Title"] = "My Trips";
}

@if (!Model.Any())
{
    <h2 class="text-center">Все още не сте добавили пътуване!</h2>
}
<h3>Моите пътувания</h3>
<section class="py-5">
    <div class="container">
        <div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Дата и час на тръгване</th>
                        <th scope="col">Дата и час на пристигане</th>
                        <th scope="col">Продължителност</th>
                        <th scope="col">Начална дестинация</th>
                        <th scope="col">Крайна дестинация</th>
                        <th scope="col">Места</th>
                        <th scope="col">Цена</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>                     
                </thead>
                <tbody>
                   
                    @foreach (var trip in Model)
                    {
                            <tr>
                                <td>@trip.StartTime</td>
                                <td>@trip.EndTime</td>
                                <td>@trip.Duration</td>
                                <td>@trip.PickUpLocation</td>
                                <td>@trip.DropOffLocation</td>
                                <td>@trip.Seats</td>
                                <td>@trip.TripCost</td>
                                <td>
                                     <a asp-controller="Trips" asp-action="Edit" asp-route-id="@trip.Id" class="btn btn-dark">Редактиране</a>
                                     <a asp-controller="Trips" asp-action="Postpone" asp-route-id="@trip.Id" class="btn btn-danger">Отмяна</a>
                                     <a asp-controller="Trips" asp-action="Details" asp-route-id="@trip.Id" class="btn btn-primary ">Детайли</a>
                                </td>
                            </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</section>